pipeline/batch.json
{
	"name": "batch",
	"properties": {
		"activities": [
			{
				"name": "primes",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "sastoken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "/bin/bash run.sh",
					"resourceLinkedService": {
						"referenceName": "ls_blob",
						"type": "LinkedServiceReference"
					},
					"folderPath": "primes",
					"extendedProperties": {
						"inputfolder": {
							"value": "@pipeline().parameters.inputFolder",
							"type": "Expression"
						},
						"inputfile": {
							"value": "@pipeline().parameters.inputFile",
							"type": "Expression"
						},
						"outputext": ".out"
					},
					"referenceObjects": {
						"linkedServices": [
							{
								"referenceName": "ls_blob",
								"type": "LinkedServiceReference"
							}
						],
						"datasets": [
							{
								"referenceName": "ds_input",
								"type": "DatasetReference",
								"parameters": {
									"sastoken": {
										"value": "@variables('sastoken')",
										"type": "Expression"
									}
								}
							},
							{
								"referenceName": "ds_output",
								"type": "DatasetReference",
								"parameters": {
									"sastoken": {
										"value": "@variables('sastoken')",
										"type": "Expression"
									}
								}
							}
						]
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_batch",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "keyvault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://adftojo.vault.azure.net/secrets/sastoken?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "sastoken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "keyvault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "sastoken",
					"value": {
						"value": "@activity('keyvault').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"inputFile": {
				"type": "string"
			},
			"inputFolder": {
				"type": "string"
			}
		},
		"variables": {
			"sastoken": {
				"type": "String"
			}
		},
		"annotations": []
	}
}